* {
	box-sizing: border-box;
}

body {
	font-family: "Source Sans Pro", sans-serif;
	background: linear-gradient(180deg, #dff3f8 0%, #d9f5f5 100%);
	color: #2f2c48;
	font-size: 20px;
	padding: 20px;
}

iframe {
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
	border-radius: 20px;
}

.header {
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
	background: #e8aa14;
	border-radius: 28px;
	padding: 30px;
	line-height: 0;
	font-size: 40px;
	text-align: center;
}

.leftcolumn {
	float: left;
	width: 75%;
}

.rightcolumn {
	float: left;
	width: 25%;
	padding-left: 20px;
}
.card {
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
	background-color: #166ec0;
	color: whitesmoke;
	padding: 20px;
	margin-top: 20px;
	border-radius: 28px;
}

.info-card {
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
	background-color: #e8aa14;
	padding: 20px;
	margin-top: 20px;
	border-radius: 28px;
}

@media screen and (min-width: 550px) {
	.route-data {
		display: flex;
	}
	.route-data p {
		margin-right: 15px;
	}
}
@media screen and (max-width: 550px) {
	.route-data p:not(:last-child) {
		margin-bottom: -10px;
	}
}

.header h2 {
	line-height: normal;
	margin-bottom: -5px;
	margin-top: -5px;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.link-button {
	appearance: none;
	font-family: inherit;
	outline: 0;
	background: transparent;
	border: 0;
	cursor: pointer;
	transition-duration: 0.1s;
}
.link-button img {
	width: 50px;
	height: 50px;
}
.link-button:hover {
	transform: scale(1.1, 1.1);
}

@media screen and (max-width: 980px) {
	.leftcolumn,
	.rightcolumn {
		width: 100%;
		padding: 0;
	}
}

.column {
	float: left;
	width: 33.33%;
	padding: 5px;
	padding-bottom: 1px;
	padding-top: 1px;
}

.column img {
	border-radius: 20px;
	transition-duration: 250ms;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}
.column img:hover {
	transform: scale(1.05);
}
.row::after {
	content: "";
	clear: both;
	display: table;
}

.variant-button {
	padding: 7px 15px;
	border-radius: 30px;
	border-top: 4px solid transparent;
	border: 5px solid #166ec0;
	cursor: pointer;
	transition: 250ms;
	background-color: #e8aa14;
}
.variant-button:hover {
	background-color: #ffd000;
}
.variant-button p {
	text-align: center;
	margin: 0;
	padding: -7px -15px;
	user-select: none;
	color: #2f2c48;
}

.variants {
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
	background-color: #166ec0;
	color: whitesmoke;
	padding: 20px;
	margin-top: 20px;
	border-radius: 28px;
}

@media screen and (min-width: 550px) {
	.variants::after {
		content: "";
		clear: both;
		display: table;
	}

	.variant-button {
		width: 20%;
		float: left;
	}

	.variants {
		margin-bottom: 20px;
		width: 100%;
	}
}
@media screen and (max-width: 550px) {
	.variants {
		margin-bottom: 20px;
	}
	.variant-button {
		display: inherit;
	}
	.variant-button:not(:last-child) {
		margin-bottom: 5px;
	}
}
