<link href="/Components/sidebar.css" rel="stylesheet" />

<a href="/about-me/" style="text-decoration: none; color: #2f2c48;">
    <div class="about-me-card">
        <h2 style="text-align: center;">Qui soc?</h2>
        <img src="/assets/perfil.png" width="100%" style="border-radius: 10px; box-shadow: 0px 0px 8px rgba(0, 0, 0, .5);"/>
        <p>M'agrada la bici i poc més.</p>
    </div>
</a>
<div class="info-card">
    <h2 style="text-align: center;">Segueix-me</h2>
    <div class="links" style="text-align: center;">
        <a href="https://www.instagram.com/gerard_gascon/" target="_blank"><button class="link-button"><img style="box-shadow: 0px 0px 8px rgba(0, 0, 0, .5); border-radius: 25px;" src="/assets/instagram.png"></button></a>
    </div>
</div>